body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 152, 159);
}

button {
    flex: 1;
    background-color: #5ea197;
    color: #fff;
    font-size: 2em;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    transition: 0.5s ease-in-out;
    background-image: 2s ease;
}
.buttons {
    display: flex;
    width: 80vw; 
    height: 50vh; 
    gap: 2em;
}

button:hover {
    transform: scale(1.1);
}
.optionsTitle{
    color: #fff;
    font-size: 3em;
}