body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 25, 29);
    background-repeat: no-repeat;
    cursor: none; /* Hide the default cursor */
}

.magnify-text {
    display: inline-block;
    font-size: 4em;
    font-weight: bold; 
    transition: transform 0.3s ease;
}
#custom-cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #fff9b3;
    border-radius: 50%;
    pointer-events: none; /* Make sure the cursor doesn't interfere with underlying elements */
    animation: shine 1s infinite alternate;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 5px #fff;
    }
    100% {
        box-shadow: 0 0 20px #fff, 0 0 50px #fff, 0 0 80px #fff;
    }
}

button {
    flex: 1;
    background-color: #3b6f68;
    color: #fff;
    font-size: 2em;
    border: none;
    cursor: none;
    border-radius: 10%;
    transition: 0.5s ease-in-out;
    background-image: 2s ease;
}
.buttons {
    display: flex;
    width: 80vw; 
    height: 50vh; 
    gap: 2em;
}

button:hover {
    transform: scale(1.1);
}
