
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: black;
    pointer-events: none;
    cursor: none;
}

#custom-cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    pointer-events: none; /* Make sure the cursor doesn't interfere with underlying elements */
    animation: shine 1s infinite alternate;
}
@keyframes shine {
    0% {
        box-shadow: 0 0 5px #fff;
    }
    100% {
        box-shadow: 0 0 20px #fff, 0 0 50px #fff, 0 0 80px #fff;
    }
}

.title{
    position:fixed;
    top:0;
    color:aliceblue;
}

.arrows{
    position: fixed;
    top:40%;
    left:10%;
    width: 10em;
    height: 10em;
    border-radius: 10%;
    background-image: url('Images/arrow1.png');
    background-color:black;
    background-size: cover;
    transition: transform 0.5s ease, box-shadow 1.2s ease, background-color 0.4s ease;
}

.subtext{
    opacity: 0;
}